body {
  margin:0px;
  background-color:rgba(255, 215, 119, 1);
  background-image:none;
  position:static;
  left:auto;
  width:710px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#999999;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:240px;
  width:400px;
  height:260px;
  color:#999999;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:122px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:57px;
  background:inherit;
  background-color:rgba(76, 175, 80, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:412px;
  width:152px;
  height:57px;
  font-family:'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u60_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:57px;
  background:inherit;
  background-color:rgba(118, 184, 82, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u60.mouseOver {
}
#u61 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:148px;
  word-wrap:break-word;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:54px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.298039215686275);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:272px;
  width:326px;
  height:54px;
  font-size:14px;
  color:#999999;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:277px;
  width:316px;
  height:43px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:43px;
  background-color:transparent;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:56px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.298039215686275);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:336px;
  width:326px;
  height:56px;
  font-size:14px;
  color:#999999;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:342px;
  width:316px;
  height:45px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:45px;
  background-color:transparent;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:57px;
  background:inherit;
  background-color:rgba(76, 175, 80, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:412px;
  width:164px;
  height:57px;
  font-family:'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u71_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:57px;
  background:inherit;
  background-color:rgba(118, 184, 82, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u71.mouseOver {
}
#u72 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:160px;
  word-wrap:break-word;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:92px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:104px;
  width:358px;
  height:92px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:92px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:104px;
  width:42px;
  height:92px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:196px;
  width:42px;
  height:20px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
